
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DealTest</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/my_admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>
</head>
<body>
{% load crispy_forms_tags %}
{{ form.media }}
<div class="container">
    <form action="" method="POST">
        {%csrf_token%}
          <h2>New Deals</h2>
          {{form|crispy}}
        <input type="submit" class="btn btn-primary btn-block mb-3" value="Save">
    </form>
</div>

</body>
</html>
